<div class="row">
  <div class="col-md-10 col-md-offset-1", style="margin-top: 70px;margin-bottom: -18px;" >
    <div class="productList-wrap">
      <ul class="productList clearfix">
        <% @products.each do |product| %>
          <%= render :partial => "product_list", :locals => { :product => product } %>
        <% end %>
      </ul>
    </div>
  </div>
</div>