<div class="row">
  <div class="col-md-10 col-md-offset-1", style="margin-top: 50px;" >
    <img alt="customer_service" src="http://otc-zhangwei.oss-cn-hangzhou.aliyuncs.com/2018-12-24-a1651f909d914201.jpg" width=100%>
  </div>>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1" >
    <div class="order clearfix">
      <ul class="menuList">
        <li class="menuList-item">
          <%= link_to("全商品列表", products_path)%>
        </li>
        <% @all_categories.each do |category| %>
          <li class="menuList-item">
            <%= link_to category.name, products_path(category_name: category.name) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1", style="margin-bottom: -18px;" >
    <div class="productList-wrap">
      <ul class="productList clearfix">
        <% @products.each do |product| %>
          <%= render :partial => "product_list", :locals => { :product => product } %>
        <% end %>
      </ul>
    </div>

    <div class="text-center">
      <%= will_paginate @products %>
    </div>
  </div>
</div>